.proyectos {
  padding: 40px 20px;
  text-align: center;
}

.proyectos h2 {
  margin-bottom: 50px;
}

/* GRID */
.grid-proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* CARD */
.card-proyecto {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card-proyecto img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-proyecto .info {
  padding: 15px;
}

.card-proyecto:hover {
  transform: translateY(-5px);
}